{% extends "layout/base.html" %}
{% block content %}
<div class="content-body">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-12 col-xxl-12">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Agregar Sitio</h2>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form class="d-flex align-items-center" novalidate="">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">TRACKER</label>
                    <div>{{sitios_form.TRACKER}}</div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ATT ID</label>
                    <div>{{sitios_form.S_ATT_ID}}</div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">NOMBRE</label>
                    <div>
                      {{sitios_form.NOMBRE}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ID LITE</label>
                    <div>
                      {{sitios_form.ID_LITE}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ID ROJO</label>
                    <div>
                      {{sitios_form.ID_ROJO}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ID NARANJA</label>
                    <div>
                      {{sitios_form.ID_NARANJA}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">IDEN</label>
                    <div>
                      {{sitios_form.IDEN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">LATITUD</label>
                    <div>
                      {{sitios_form.LATITUD}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">LONGITUD</label>
                    <div>
                      {{sitios_form.LONGITUD}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ESTADO</label>
                    <div>
                      {{sitios_form.ESTADO}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MUNICIPIO</label>
                    <div>
                      {{sitios_form.MUNICIPIO}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MERCADO</label>
                    <div>
                      {{sitios_form.MERCADO}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">REGION CELULAR</label>
                    <div>
                      {{sitios_form.REGION_CELULAR}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">VENDOR</label>
                    <div>
                      {{sitios_form.VENDOR}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">COBERTURA</label>
                    <div>
                      {{sitios_form.COBERTURA}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">TIPO</label>
                    <div>
                      {{sitios_form.TIPO}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">PROYECTO</label>
                    <div>
                      {{sitios_form.PROYECTO}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">CLASIFICACION</label>
                    <div>
                      {{sitios_form.CLASIFICACION}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">TECNOLOGIA</label>
                    <div>
                      {{sitios_form.TECNOLOGIA}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">CONFIGURACION 3G</label>
                    <div>
                      {{sitios_form.CONFIGURACION_3G}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">CONFIGURACION 4G</label>
                    <div>
                      {{sitios_form.CONFIGURACION_4G}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">CONFIGURACION 5G</label>
                    <div>
                      {{sitios_form.CONFIGURACION_5G}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">IOT</label>
                    <div>
                      {{sitios_form.IOT}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">TDD</label>
                    <div>
                      {{sitios_form.TDD}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">TRAFICO 3G LTE 5G</label>
                    <div>
                      {{sitios_form.TRAFICO_3G_LTE_5G}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">TRAFICO 3G</label>
                    <div>
                      {{sitios_form.TRAFICO_3G}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">TRAFICO 4G</label>
                    <div>
                      {{sitios_form.TRAFICO_4G}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">TRAFICO 5G</label>
                    <div>
                      {{sitios_form.TRAFICO_5G}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SL</label>
                    <div>
                      {{sitios_form.SL}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">REUBICACION</label>
                    <div>
                      {{sitios_form.REUBICACION}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">COMENTARIO OPERACIONES</label>
                    <div>
                      {{sitios_form.COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">PLAN</label>
                    <div>
                      {{sitios_form.PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_3G_B5_850</label>
                    <div>
                      {{sitios_form.ENE_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.ENE_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.ENE_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_LTE_B26_800</label>
                    <div>
                      {{sitios_form.ENE_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_LTE_B5_850</label>
                    <div>
                      {{sitios_form.ENE_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.ENE_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.ENE_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.ENE_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.ENE_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_5G_B7_2600</label>
                    <div>
                      {{sitios_form.ENE_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_5G_B38_2600</label>
                    <div>
                      {{sitios_form.ENE_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.ENE_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ENE_PLAN</label>
                    <div>
                      {{sitios_form.ENE_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_3G_B5_850</label>
                    <div>
                      {{sitios_form.FEB_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.FEB_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.FEB_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_LTE_B26_800</label>
                    <div>
                      {{sitios_form.FEB_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_LTE_B5_850</label>
                    <div>
                      {{sitios_form.FEB_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.FEB_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.FEB_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.FEB_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.FEB_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_5G_B7_2600</label>
                    <div>
                      {{sitios_form.FEB_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_5G_B38_2600</label>
                    <div>
                      {{sitios_form.FEB_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.FEB_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">FEB_PLAN</label>
                    <div>
                      {{sitios_form.FEB_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_3G_B5_850</label>
                    <div>
                      {{sitios_form.MAR_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.MAR_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.MAR_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_LTE_B26_800</label>
                    <div>
                      {{sitios_form.MAR_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_LTE_B5_850</label>
                    <div>
                      {{sitios_form.MAR_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.MAR_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.MAR_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.MAR_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.MAR_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_5G_B7_2600</label>
                    <div>
                      {{sitios_form.MAR_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_5G_B38_2600</label>
                    <div>
                      {{sitios_form.MAR_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_5G_B7_2600</label>
                    <div>
                      {{sitios_form.MAR_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.MAR_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_PLAN</label>
                    <div>
                      {{sitios_form.MAR_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_3G_B5_850</label>
                    <div>
                      {{sitios_form.ABR_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.ABR_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.ABR_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAR_5G_B7_2600</label>
                    <div>
                      {{sitios_form.MAR_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_LTE_B26_800</label>
                    <div>
                      {{sitios_form.ABR_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_LTE_B5_850</label>
                    <div>
                      {{sitios_form.ABR_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.ABR_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.ABR_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.ABR_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.ABR_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_5G_B7_2600</label>
                    <div>
                      {{sitios_form.ABR_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_5G_B38_2600</label>
                    <div>
                      {{sitios_form.ABR_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.ABR_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">ABR_PLAN</label>
                    <div>
                      {{sitios_form.ABR_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_3G_B5_850</label>
                    <div>
                      {{sitios_form.MAY_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.MAY_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.MAY_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_LTE_B26_800</label>
                    <div>
                      {{sitios_form.MAY_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_LTE_B5_850</label>
                    <div>
                      {{sitios_form.MAY_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.MAY_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.MAY_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.MAY_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.MAY_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_5G_B7_2600</label>
                    <div>
                      {{sitios_form.MAY_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_5G_B38_2600</label>
                    <div>
                      {{sitios_form.MAY_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.MAY_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">MAY_PLAN</label>
                    <div>
                      {{sitios_form.MAY_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_3G_B5_850</label>
                    <div>
                      {{sitios_form.JUN_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.JUN_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.JUN_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_LTE_B26_800</label>
                    <div>
                      {{sitios_form.JUN_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_LTE_B5_850</label>
                    <div>
                      {{sitios_form.JUN_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.JUN_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.JUN_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.JUN_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.JUN_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_5G_B7_2600</label>
                    <div>
                      {{sitios_form.JUN_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_5G_B38_2600</label>
                    <div>
                      {{sitios_form.JUN_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.JUN_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUN_PLAN</label>
                    <div>
                      {{sitios_form.JUN_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_3G_B5_850</label>
                    <div>
                      {{sitios_form.JUL_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.JUL_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.JUL_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_LTE_B26_800</label>
                    <div>
                      {{sitios_form.JUL_LTE_B26_800}}
                    </div>
                  </div>

                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_LTE_B5_850</label>
                    <div>
                      {{sitios_form.JUL_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.JUL_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.JUL_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.JUL_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.JUL_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_5G_B7_2600</label>
                    <div>
                      {{sitios_form.JUL_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_5G_B38_2600</label>
                    <div>
                      {{sitios_form.JUL_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.JUL_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">JUL_PLAN</label>
                    <div>
                      {{sitios_form.JUL_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_3G_B5_850</label>
                    <div>
                      {{sitios_form.AGO_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.AGO_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.AGO_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_LTE_B26_800</label>
                    <div>
                      {{sitios_form.AGO_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_LTE_B5_850</label>
                    <div>
                      {{sitios_form.AGO_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.AGO_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.AGO_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.AGO_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.AGO_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_LTE_B42_3500</label>
                    <div>
                      {{sitios_form.AGO_LTE_B42_3500}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_5G_B7_2600</label>
                    <div>
                      {{sitios_form.AGO_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_5G_B38_2600</label>
                    <div>
                      {{sitios_form.AGO_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.AGO_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">AGO_PLAN</label>
                    <div>
                      {{sitios_form.AGO_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_3G_B5_850</label>
                    <div>
                      {{sitios_form.SEP_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.SEP_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.SEP_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_LTE_B26_800</label>
                    <div>
                      {{sitios_form.SEP_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_LTE_B5_850</label>
                    <div>
                      {{sitios_form.SEP_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.SEP_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.SEP_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.SEP_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.SEP_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_LTE_B42_3500</label>
                    <div>
                      {{sitios_form.SEP_LTE_B42_3500}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_5G_B7_2600</label>
                    <div>
                      {{sitios_form.SEP_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_5G_B38_2600</label>
                    <div>
                      {{sitios_form.SEP_5G_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_COMENTARIO_OPERACIONES</label>
                    <div>
                      {{sitios_form.SEP_COMENTARIO_OPERACIONES}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">SEP_PLAN</label>
                    <div>
                      {{sitios_form.SEP_PLAN}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_3G_B5_850</label>
                    <div>
                      {{sitios_form.OCT_3G_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_3G_B2_PCS</label>
                    <div>
                      {{sitios_form.OCT_3G_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_3G_B4_AWS</label>
                    <div>
                      {{sitios_form.OCT_3G_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_LTE_B26_800</label>
                    <div>
                      {{sitios_form.OCT_LTE_B26_800}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_LTE_B5_850</label>
                    <div>
                      {{sitios_form.OCT_LTE_B5_850}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_LTE_B2_PCS</label>
                    <div>
                      {{sitios_form.OCT_LTE_B2_PCS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_LTE_B4_AWS</label>
                    <div>
                      {{sitios_form.OCT_LTE_B4_AWS}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_LTE_B7_2600</label>
                    <div>
                      {{sitios_form.OCT_LTE_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_LTE_B38_2600</label>
                    <div>
                      {{sitios_form.OCT_LTE_B38_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_LTE_B42_3500</label>
                    <div>
                      {{sitios_form.OCT_LTE_B42_3500}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_5G_B7_2600</label>
                    <div>
                      {{sitios_form.OCT_5G_B7_2600}}
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="firstName" class="form-label">OCT_5G_B38_2600</label>
                    <div>
                      {{sitios_form.OCT_5G_B38_2600}}
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}