{% extends "layout/base.html" %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sitios Totales</h4>
                    </div>
                    <div class="card-body">
                        <div class=" table table-hover table-responsive">
                            {%if sitios %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>TRACKER</th>
                                        <th>S_ATT_ID</th>
                                        <th>NOMBRE</th>
                                        <th>ID_LITE</th>
                                        <th>ID_ROJO</th>
                                        <th>ID_NARANJA</th>
                                        <th>IDEN</th>
                                        <th>LATITUD</th>
                                        <th>LONGITUD</th>
                                        <th>ESTADO</th>
                                        <th>MUNICIPIO</th>
                                        <th>MERCADO</th>
                                        <th>REGION_CELULAR</th>
                                        <th>REGION</th>
                                        <th>VENDOR</th>
                                        <th>COBERTURA</th>
                                        <th>TIPO</th>
                                        <th>PROYECTO</th>
                                        <th>CLASIFICACION</th>
                                        <th>TECNOLOGIA</th>
                                        <th>CONFIGURACION_3G</th>
                                        <th>CONFIGURACION_4G</th>
                                        <th>CONFIGURACION_5G</th>
                                        <th>IOT</th>
                                        <th>thD</th>
                                        <th>TRAFICO_3G_LTE_5G</th>
                                        <th>TRAFICO_3G</th>
                                        <th>TRAFICO_4G</th>
                                        <th>TRAFICO_5G</th>
                                        <th>SL</th>
                                        <th>REUBICACION</th>
                                        <th>NOTAS</th>
                                        <th>COMENTARIO_OPERACIONES</th>
                                        <th>PLAN</th>
                                        <th>ENE_3G_B5_850</th>
                                        <th>ENE_3G_B2_PCS</th>
                                        <th>ENE_3G_B4_AWS</th>
                                        <th>ENE_LTE_B26_800</th>
                                        <th>ENE_LTE_B5_850</th>
                                        <th>ENE_LTE_B2_PCS</th>
                                        <th>ENE_LTE_B4_AWS</th>
                                        <th>ENE_LTE_B7_2600</th>
                                        <th>ENE_LTE_B38_2600</th>
                                        <th>ENE_5G_B7_2600</th>
                                        <th>ENE_5G_B38_2600</th>
                                        <th>ENE_COMENTARIO_OPERACIONES</th>
                                        <th>ENE_PLAN</th>
                                        <th>FEB_3G_B5_850</th>
                                        <th>FEB_3G_B2_PCS</th>
                                        <th>FEB_3G_B4_AWS</th>
                                        <th>FEB_LTE_B26_800</th>
                                        <th>FEB_LTE_B5_850</th>
                                        <th>FEB_LTE_B2_PCS</th>
                                        <th>FEB_LTE_B4_AWS</th>
                                        <th>FEB_LTE_B7_2600</th>
                                        <th>FEB_LTE_B38_2600</th>
                                        <th>FEB_5G_B7_2600</th>
                                        <th>FEB_5G_B38_2600</th>
                                        <th>FEB_COMENTARIO_OPERACIONES</th>
                                        <th>FEB_PLAN</th>
                                        <th>MAR_3G_B5_850</th>
                                        <th>MAR_3G_B2_PCS</th>
                                        <th>MAR_3G_B4_AWS</th>
                                        <th>MAR_LTE_B26_800</th>
                                        <th>MAR_LTE_B5_850</th>
                                        <th>MAR_LTE_B2_PCS</th>
                                        <th>MAR_LTE_B4_AWS</th>
                                        <th>MAR_LTE_B7_2600</th>
                                        <th>MAR_LTE_B38_2600</th>
                                        <th>MAR_5G_B7_2600</th>
                                        <th>MAR_5G_B38_2600</th>
                                        <th>MAR_COMENTARIO_OPERACIONES</th>
                                        <th>MAR_PLAN</th>
                                        <th>ABR_3G_B5_850</th>
                                        <th>ABR_3G_B2_PCS</th>
                                        <th>ABR_3G_B4_AWS</th>
                                        <th>ABR_LTE_B26_800</th>
                                        <th>ABR_LTE_B5_850</th>
                                        <th>ABR_LTE_B2_PCS</th>
                                        <th>ABR_LTE_B4_AWS</th>
                                        <th>ABR_LTE_B7_2600</th>
                                        <th>ABR_LTE_B38_2600</th>
                                        <th>ABR_5G_B7_2600</th>
                                        <th>ABR_5G_B38_2600</th>
                                        <th>ABR_COMENTARIO_OPERACIONES</th>
                                        <th>ABR_PLAN</th>
                                        <th>MAY_3G_B5_850</th>
                                        <th>MAY_3G_B2_PCS</th>
                                        <th>MAY_3G_B4_AWS</th>
                                        <th>MAY_LTE_B26_800</th>
                                        <th>MAY_LTE_B5_850</th>
                                        <th>MAY_LTE_B2_PCS</th>
                                        <th>MAY_LTE_B4_AWS</th>
                                        <th>MAY_LTE_B7_2600</th>
                                        <th>MAY_LTE_B38_2600</th>
                                        <th>MAY_5G_B7_2600</th>
                                        <th>MAY_5G_B38_2600</th>
                                        <th>MAY_COMENTARIO_OPERACIONES</th>
                                        <th>MAY_PLAN</th>
                                        <th>JUN_3G_B5_850</th>
                                        <th>JUN_3G_B2_PCS</th>
                                        <th>JUN_3G_B4_AWS</th>
                                        <th>JUN_LTE_B26_800</th>
                                        <th>JUN_LTE_B5_850</th>
                                        <th>JUN_LTE_B2_PCS</th>
                                        <th>JUN_LTE_B4_AWS</th>
                                        <th>JUN_LTE_B7_2600</th>
                                        <th>JUN_LTE_B38_2600</th>
                                        <th>JUN_5G_B7_2600</th>
                                        <th>JUN_5G_B38_2600</th>
                                        <th>JUN_COMENTARIO_OPERACIONES</th>
                                        <th>JUN_PLAN</th>
                                        <th>JUL_3G_B5_850</th>
                                        <th>JUL_3G_B2_PCS</th>
                                        <th>JUL_3G_B4_AWS</th>
                                        <th>JUL_LTE_B26_800</th>
                                        <th>JUL_LTE_B5_850</th>
                                        <th>JUL_LTE_B2_PCS</th>
                                        <th>JUL_LTE_B4_AWS</th>
                                        <th>JUL_LTE_B7_2600</th>
                                        <th>JUL_LTE_B38_2600</th>
                                        <th>JUL_5G_B7_2600</th>
                                        <th>JUL_5G_B38_2600</th>
                                        <th>JUL_COMENTARIO_OPERACIONES</th>
                                        <th>JUL_PLAN</th>
                                        <th>AGO_3G_B5_850</th>
                                        <th>AGO_3G_B2_PCS</th>
                                        <th>AGO_3G_B4_AWS</th>
                                        <th>AGO_LTE_B26_800</th>
                                        <th>AGO_LTE_B5_850</th>
                                        <th>AGO_LTE_B2_PCS</th>
                                        <th>AGO_LTE_B4_AWS</th>
                                        <th>B7_2600.14</th>
                                        <th>AGO_LTE_B38_2600</th>
                                        <th>AGO_LTE_B42_3500</th>
                                        <th>AGO_5G_B7_2600</th>
                                        <th>AGO_5G_B38_2600</th>
                                        <th>AGO_COMENTARIO_OPERACIONES</th>
                                        <th>AGO_PLAN</th>
                                        <th>SEP_3G_B5_850</th>
                                        <th>SEP_3G_B2_PCS</th>
                                        <th>SEP_3G_B4_AWS</th>
                                        <th>SEP_LTE_B26_800</th>
                                        <th>SEP_LTE_B5_850</th>
                                        <th>SEP_LTE_B2_PCS</th>
                                        <th>SEP_LTE_B4_AWS</th>
                                        <th>SEP_LTE_B7_2600</th>
                                        <th>SEP_LTE_B38_2600</th>
                                        <th>SEP_LTE_B42_3500</th>
                                        <th>SEP_5G_B7_2600</th>
                                        <th>SEP_5G_B38_2600</th>
                                        <th>SEP_COMENTARIO_OPERACIONES</th>
                                        <th>SEP_PLAN</th>
                                        <th>OCT_3G_B5_850</th>
                                        <th>OCT_3G_B2_PCS</th>
                                        <th>OCT_3G_B4_AWS</th>
                                        <th>OCT_LTE_B26_800</th>
                                        <th>OCT_LTE_B5_850</th>
                                        <th>OCT_LTE_B2_PCS</th>
                                        <th>OCT_LTE_B4_AWS</th>
                                        <th>OCT_LTE_B7_2600</th>
                                        <th>OCT_LTE_B38_2600</th>
                                        <th>OCT_LTE_B42_3500</th>
                                        <th>OCT_5G_B7_2600</th>
                                        <th>OCT_5G_B38_2600</th>

                                    </tr>
                                </thead>
                                {% else %}
                                <div><h1>No Existen Sitios Registrados</h1></div>
                                {% endif %}
                                <tbody>
                                    {% for s in sitios %}
                                    <tr>
                                        <td>{{s.TRACKER}}</td>
                                        <td>{{s.S_ATT_ID}}</td>
                                        <td>{{s.NOMBRE}}</td>
                                        <td>{{s.ID_LITE}}</td>
                                        <td>{{s.ID_ROJO}}</td>
                                        <td>{{s.ID_NARANJA}}</td>
                                        <td>{{s.IDEN}}</td>
                                        <td>{{s.LATITUD}}</td>
                                        <td>{{s.LONGITUD}}</td>
                                        <td>{{s.ESTADO}}</td>
                                        <td>{{s.MUNICIPIO}}</td>
                                        <td>{{s.MERCADO}}</td>
                                        <td>{{s.REGION_CELULAR}}</td>
                                        <td>{{s.REGION}}</td>
                                        <td>{{s.VENDOR}}</td>
                                        <td>{{s.COBERTURA}}</td>
                                        <td>{{s.TIPO}}</td>
                                        <td>{{s.PROYECTO}}</td>
                                        <td>{{s.CLASIFICACION}}</td>
                                        <td>{{s.TECNOLOGIA}}</td>
                                        <td>{{s.CONFIGURACION_3G}}</td>
                                        <td>{{s.CONFIGURACION_4G}}</td>
                                        <td>{{s.CONFIGURACION_5G}}</td>
                                        <td>{{s.IOT}}</td>
                                        <td>{{s.TDD}}</td>
                                        <td>{{s.TRAFICO_3G_LTE_5G}}</td>
                                        <td>{{s.TRAFICO_3G}}</td>
                                        <td>{{s.TRAFICO_4G}}</td>
                                        <td>{{s.TRAFICO_5G}}</td>
                                        <td>{{s.SL}}</td>
                                        <td>{{s.REUBICACION}}</td>
                                        <td>{{s.NOTAS}}</td>
                                        <td>{{s.COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.PLAN}}</td>
                                        <td>{{s.ENE_3G_B5_850}}</td>
                                        <td>{{s.ENE_3G_B2_PCS}}</td>
                                        <td>{{s.ENE_3G_B4_AWS}}</td>
                                        <td>{{s.ENE_LTE_B26_800}}</td>
                                        <td>{{s.ENE_LTE_B5_850}}</td>
                                        <td>{{s.ENE_LTE_B2_PCS}}</td>
                                        <td>{{s.ENE_LTE_B4_AWS}}</td>
                                        <td>{{s.ENE_LTE_B7_2600}}</td>
                                        <td>{{s.ENE_LTE_B38_2600}}</td>
                                        <td>{{s.ENE_5G_B7_2600}}</td>
                                        <td>{{s.ENE_5G_B38_2600}}</td>
                                        <td>{{s.ENE_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.ENE_PLAN}}</td>
                                        <td>{{s.FEB_3G_B5_850}}</td>
                                        <td>{{s.FEB_3G_B2_PCS}}</td>
                                        <td>{{s.FEB_3G_B4_AWS}}</td>
                                        <td>{{s.FEB_LTE_B26_800}}</td>
                                        <td>{{s.FEB_LTE_B5_850}}</td>
                                        <td>{{s.FEB_LTE_B2_PCS}}</td>
                                        <td>{{s.FEB_LTE_B4_AWS}}</td>
                                        <td>{{s.FEB_LTE_B7_2600}}</td>
                                        <td>{{s.FEB_LTE_B38_2600}}</td>
                                        <td>{{s.FEB_5G_B7_2600}}</td>
                                        <td>{{s.FEB_5G_B38_2600}}</td>
                                        <td>{{s.FEB_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.FEB_PLAN}}</td>
                                        <td>{{s.MAR_3G_B5_850}}</td>
                                        <td>{{s.MAR_3G_B2_PCS}}</td>
                                        <td>{{s.MAR_3G_B4_AWS}}</td>
                                        <td>{{s.MAR_LTE_B26_800}}</td>
                                        <td>{{s.MAR_LTE_B5_850}}</td>
                                        <td>{{s.MAR_LTE_B2_PCS}}</td>
                                        <td>{{s.MAR_LTE_B4_AWS}}</td>
                                        <td>{{s.MAR_LTE_B7_2600}}</td>
                                        <td>{{s.MAR_LTE_B38_2600}}</td>
                                        <td>{{s.MAR_5G_B7_2600}}</td>
                                        <td>{{s.MAR_5G_B38_2600}}</td>
                                        <td>{{s.MAR_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.MAR_PLAN}}</td>
                                        <td>{{s.ABR_3G_B5_850}}</td>
                                        <td>{{s.ABR_3G_B2_PCS}}</td>
                                        <td>{{s.ABR_3G_B4_AWS}}</td>
                                        <td>{{s.ABR_LTE_B26_800}}</td>
                                        <td>{{s.ABR_LTE_B5_850}}</td>
                                        <td>{{s.ABR_LTE_B2_PCS}}</td>
                                        <td>{{s.ABR_LTE_B4_AWS}}</td>
                                        <td>{{s.ABR_LTE_B7_2600}}</td>
                                        <td>{{s.ABR_LTE_B38_2600}}</td>
                                        <td>{{s.ABR_5G_B7_2600}}</td>
                                        <td>{{s.ABR_5G_B38_2600}}</td>
                                        <td>{{s.ABR_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.ABR_PLAN}}</td>
                                        <td>{{s.MAY_3G_B5_850}}</td>
                                        <td>{{s.MAY_3G_B2_PCS}}</td>
                                        <td>{{s.MAY_3G_B4_AWS}}</td>
                                        <td>{{s.MAY_LTE_B26_800}}</td>
                                        <td>{{s.MAY_LTE_B5_850}}</td>
                                        <td>{{s.MAY_LTE_B2_PCS}}</td>
                                        <td>{{s.MAY_LTE_B4_AWS}}</td>
                                        <td>{{s.MAY_LTE_B7_2600}}</td>
                                        <td>{{s.MAY_LTE_B38_2600}}</td>
                                        <td>{{s.MAY_5G_B7_2600}}</td>
                                        <td>{{s.MAY_5G_B38_2600}}</td>
                                        <td>{{s.MAY_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.MAY_PLAN}}</td>
                                        <td>{{s.JUN_3G_B5_850}}</td>
                                        <td>{{s.JUN_3G_B2_PCS}}</td>
                                        <td>{{s.JUN_3G_B4_AWS}}</td>
                                        <td>{{s.JUN_LTE_B26_800}}</td>
                                        <td>{{s.JUN_LTE_B5_850}}</td>
                                        <td>{{s.JUN_LTE_B2_PCS}}</td>
                                        <td>{{s.JUN_LTE_B4_AWS}}</td>
                                        <td>{{s.JUN_LTE_B7_2600}}</td>
                                        <td>{{s.JUN_LTE_B38_2600}}</td>
                                        <td>{{s.JUN_5G_B7_2600}}</td>
                                        <td>{{s.JUN_5G_B38_2600}}</td>
                                        <td>{{s.JUN_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.JUN_PLAN}}</td>
                                        <td>{{s.JUL_3G_B5_850}}</td>
                                        <td>{{s.JUL_3G_B2_PCS}}</td>
                                        <td>{{s.JUL_3G_B4_AWS}}</td>
                                        <td>{{s.JUL_LTE_B26_800}}</td>
                                        <td>{{s.JUL_LTE_B5_850}}</td>
                                        <td>{{s.JUL_LTE_B2_PCS}}</td>
                                        <td>{{s.JUL_LTE_B4_AWS}}</td>
                                        <td>{{s.JUL_LTE_B7_2600}}</td>
                                        <td>{{s.JUL_LTE_B38_2600}}</td>
                                        <td>{{s.JUL_5G_B7_2600}}</td>
                                        <td>{{s.JUL_5G_B38_2600}}</td>
                                        <td>{{s.JUL_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.JUL_PLAN}}</td>
                                        <td>{{s.AGO_3G_B5_850}}</td>
                                        <td>{{s.AGO_3G_B2_PCS}}</td>
                                        <td>{{s.AGO_3G_B4_AWS}}</td>
                                        <td>{{s.AGO_LTE_B26_800}}</td>
                                        <td>{{s.AGO_LTE_B5_850}}</td>
                                        <td>{{s.AGO_LTE_B2_PCS}}</td>
                                        <td>{{s.AGO_LTE_B4_AWS}}</td>
                                        <td>{{s.B7_2600.14}}</td>
                                        <td>{{s.AGO_LTE_B38_2600}}</td>
                                        <td>{{s.AGO_LTE_B42_3500}}</td>
                                        <td>{{s.AGO_5G_B7_2600}}</td>
                                        <td>{{s.AGO_5G_B38_2600}}</td>
                                        <td>{{s.AGO_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.AGO_PLAN}}</td>
                                        <td>{{s.SEP_3G_B5_850}}</td>
                                        <td>{{s.SEP_3G_B2_PCS}}</td>
                                        <td>{{s.SEP_3G_B4_AWS}}</td>
                                        <td>{{s.SEP_LTE_B26_800}}</td>
                                        <td>{{s.SEP_LTE_B5_850}}</td>
                                        <td>{{s.SEP_LTE_B2_PCS}}</td>
                                        <td>{{s.SEP_LTE_B4_AWS}}</td>
                                        <td>{{s.SEP_LTE_B7_2600}}</td>
                                        <td>{{s.SEP_LTE_B38_2600}}</td>
                                        <td>{{s.SEP_LTE_B42_3500}}</td>
                                        <td>{{s.SEP_5G_B7_2600}}</td>
                                        <td>{{s.SEP_5G_B38_2600}}</td>
                                        <td>{{s.SEP_COMENTARIO_OPERACIONES}}</td>
                                        <td>{{s.SEP_PLAN}}</td>
                                        <td>{{s.OCT_3G_B5_850}}</td>
                                        <td>{{s.OCT_3G_B2_PCS}}</td>
                                        <td>{{s.OCT_3G_B4_AWS}}</td>
                                        <td>{{s.OCT_LTE_B26_800}}</td>
                                        <td>{{s.OCT_LTE_B5_850}}</td>
                                        <td>{{s.OCT_LTE_B2_PCS}}</td>
                                        <td>{{s.OCT_LTE_B4_AWS}}</td>
                                        <td>{{s.OCT_LTE_B7_2600}}</td>
                                        <td>{{s.OCT_LTE_B38_2600}}</td>
                                        <td>{{s.OCT_LTE_B42_3500}}</td>
                                        <td>{{s.OCT_5G_B7_2600}}</td>
                                        <td>{{s.OCT_5G_B38_2600}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>
				{% include 'sitios/paginator.html'%}
			</div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}

{% endblock javascripts %}