<div class="dlabnav">
	<div class="dlabnav-scroll">
		<ul class="metismenu" id="menu">
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-networking-1"></i>
					<span class="nav-text">Sitios Totales</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'crearSitios'%}">Crear Sitio</a></li>
				</ul>

				<ul aria-expanded="false">
					<li><a href="{% url 'cargarSitios'%}">Subir Archivo</a></li>
				</ul>
				<ul aria-expanded="false">
					<li><a href="{% url 'listarSitios'%}">Listar Sitios</a></li>
				</ul>
			</li>
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-wifi-2"></i>
					<span class="nav-text">Fibra Optica</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'cargarFO'%}">Subir Archivo</a></li>
				</ul>
			</li>
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="bi bi-calendar-plus"></i>
					<span class="nav-text">Agregadores</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'cargarAGG'%}">Subir Archivo</a></li>
				</ul>
			</li>
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-internet"></i>
					<span class="nav-text">Proyección</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'cargarProyeccion'%}">Subir Archivo</a></li>
				</ul>
			</li>
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="bi-hdd-rack-fill"></i>
					<span class="nav-text">Migración</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'cargarMigracion'%}">Subir Archivo</a></li>
				</ul>
			</li>
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-share-2"></i>
					<span class="nav-text">Microondas</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'cargarMicroondas'%}">Subir Archivo</a></li>
				</ul>
			</li>
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-route"></i>
					<span class="nav-text">Carrier</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'cargarCarrier'%}">Subir Archivo</a></li>
				</ul>
			</li>
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-location-1"></i>
					<span class="nav-text">Pon</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'cargarPon'%}">Subir Archivo</a></li>
				</ul>
			</li>
			<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
					<i class="flaticon-381-cloud-computing"></i>
					<span class="nav-text">Panda</span>
				</a>
				<ul aria-expanded="false">
					<li><a href="{% url 'cargarPanda'%}">Subir Archivo</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>