	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
	<link href="/static/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
	<link href="/static/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="/static/vendor/nouislider/nouislider.min.css" rel="stylesheet" >
	<link href="/static/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="/static/vendor/dropzone/dist/dropzone.css" rel="stylesheet">
	 <!-- vendor css -->
	 <link href="/static/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
     <link href="/static/css/style.css" rel="stylesheet" >
	 <link href="/static/css/main.css" rel="stylesheet" >